.App {
  
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.searchForm{
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar{
  height: 30px;
  border: none;
  width: 50%;
}
.searchButton{
  background-color:lightcoral ;
  border: none;
  outline: none;
  height:30px;
  width: 80px;
  font-size: 17px;
  font-weight: 200;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}